html, body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
}
#leftCol, #rightCol {
    height: 100vh;
}

.toprow{
	text-align: right;
}
.filterbutton:hover {
	background-color: #12cfdc;
	color: rgb(237, 237, 237);
	font-weight: bold;
}
.filterbutton {
	border-color: #12cfdc;
	width: 180px;
	font-size: 18px;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
}

#cardWrap{
	height: 500px;
	overflow-y: scroll;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	/* border: solid 1px black;
	border-radius: 5px; */
}
	#category > p {
  position: relative;
  color: #000;
  text-decoration: none;
	text-align: center;
	padding: 10px;
}

#category > p:hover {
  color: #000;
}
#category > p:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#category > p:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
	/* #category p:hover{
		background: #12cfdc;
	} */
	#category p.active {
	font-weight: bold;
	font-size: 18px;
	}
	/* #category p {
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}  */
	#category {
		margin-top: 60px;
	}

.usernameapp p {
	font-size: 18px;
	color: #333333;

}
/* .img-lilprofile{
	width: 55px;
	height: 55px;
} */

	.img-food{
		width: 100px!important;
	}
	#logo{
		width: 8rem;
	}
	.img-logo-main {
			width: 110px;
			/* margin-top: 90px; */
			margin-left: 30px;
	}

	.card{
		width: 29rem;
		background: rgb(237, 237, 237);
	}
.profile-image{
	width: 130px;
	height: 130px;
	padding: 5px;
	border-radius: 100%;
}
.button_profile:hover {
	background-color: #333333;
	color: white;
}
.button_profile {
	border-color: #333333;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
}
.button_create:hover {
	background-color: #6400ed;
	color: white;
}
.button_create {
	border-color: #333333;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
}
