html, body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
}
#leftCol, #rightCol {
	height: 100vh;
}
#leftCol{
	width: 300px;
	text-align: center;
	padding: 20px;
}
#leftCol .profile-image {
	width: 50px;
	height: 50px;
	margin-left: 0;
	margin-bottom: 20px;
}
#leftCol .usernameapp p {
	font-size: 15px;
	margin-bottom: 2px;
}
#rightCol{
	width: calc(100vw - 300px);
}
.logoWrapper + img {
	width: 120px;
}
.toprow{
	text-align: right;
}
.container_top {
	display: grid;
	grid-template-columns: auto auto;
}
.filterbutton:hover {
	background-color: #12cfdc;
	color: rgb(237, 237, 237);
	font-weight: bold;
}
.filterbutton {
	cursor: pointer;
	border-color: #12cfdc;
	width: 180px;
	font-size: 18px;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
}

#dropdownbar {
	height: 60px;
}

#cardWrap{
	height: calc(100vh - 60px);
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	padding: 20px;
	/* border: solid 1px black;
	border-radius: 5px; */
}



	#category > p {
  position: relative;
  color: #000;
  text-decoration: none;
	text-align: center;
	padding: 10px;
}

#category > p:hover {
  color: #000;
}
#category > p:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#category > p:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
	/* #category p:hover{
		background: #12cfdc;
	} */
	#category p.active {
	font-weight: bold;
	font-size: 18px;
	}
	/* #category p {
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}  */
	#category {
		margin-top: 40px;
	}

.usernameapp p {
	font-size: 18px;
	color: #333333;
	overflow-wrap: break-word;
}
/* .img-lilprofile{
	width: 55px;
	height: 55px;
} */

	.card-content {
		width: auto;
		float: left;
	}
	#logo{
		width: 8rem;
	}
	.imageWrapper {
		width: 80px;
		float: left;
		margin-right: 14px;
	}
	select.filterbutton {
		background: rgb(237, 237, 237);
	}
	.imageWrapper img {
		max-width: 100%;
	}
	.img-logo-main {
			width: 110px;
			/* margin-top: 90px; */
			margin-left: 30px;
	}
	.card-body-place{
		height: 12rem;
		background: rgb(237, 237, 237);
		padding: 10px;
	}

.profile-image{
	width: 120px;
	height: 120px;
	padding: 5px;
	border-radius: 100%;
	margin-left: 20px;
	margin-bottom: 2px;
}
.button_profile:hover {
	background-color: #333333;
	color: rgb(237, 237, 237);
}
.button_profile {
	border-color: #333333;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
}
.button_create:hover {
	background-color: #6400ed;
	color: rgb(237, 237, 237);
}
.button_create {
	border-color: #333333;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
}
.buttons_main {
	margin-top: 30px;
}
