html, body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
}
#leftCol, #rightCol {
    height: 100vh;
}

	#rightCol {
	background: black; /* fallback for old browsers */

}
	#leftCol{
		background: rgb(237, 237, 237);
	}
	/* #usrImageDisplay {
		margin-top: 20px;
	} */
	.logout{
		text-align: right;
	}
	.box{
	text-align: center;
	}
	.img-logo {
		width: 180px;
	}
	.img-profile {
		margin-top: 150px;
		width: 210px;
		height: 210px;

	}

	.icon {
		font-size: 17px;
	}

	/* #profilepicbutton {
		background-color: #6400ed;
		color: rgb(237, 237, 237);
	} */
	#socialbutton {
		margin-left: 300px;
		margin-top: 60px;
		color: #6400ed;
		background-color: rgb(237, 237, 237);
	}
	#socialbutton:hover {
		color: rgb(237, 237, 237);
		background-color: #6400ed;
	}

	.button {
		-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	}
	.button_places:hover {
		background-color: #12cfdc;
		color: rgb(237, 237, 237);
	}
	.button_places {
		border-color: #12cfdc;
		color: #12cfdc;
-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
}

	#userinformation {
		font-size: 18px;
		color: rgb(237, 237, 237);
	}
