html, body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
}
#leftCol, #rightCol {
    height: 100vh;
}

	#rightCol {
	background: #12cfdc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #12cfdc, #6400ed, #333333); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #12cfdc, #6400ed, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
	#leftCol{
		background: rgb(237, 237, 237);
	}
	#usrImageDisplay {
		margin-top: 20px;
	}
	.logout{
		text-align: right;
	}
	.box{
	text-align: center;
	}
	.img-logo {
		width: 180px;
	}
	.img-profile {
		width: 210px;
		height: 210px;

	}

	.icon {
		font-size: 17px;
	}

	#profilepicbutton {
		background-color: #6400ed;
		color: rgb(237, 237, 237);
	}
	#socialbutton {
		margin-left: 300px;
		margin-top: 60px;
		color: #6400ed;
		background-color: rgb(237, 237, 237);
	}

	.button {
		-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
	}

	#userinformation {
		font-size: 18px;
		color: rgb(237, 237, 237);
	}
