html, body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
}
#leftCol, #rightCol {
    height: 100vh;
}
#rightCol {
    background: #d2d9ff;
}
	#cardWrap{
		height: 500px;
		overflow-y: scroll;
		border: solid 1px black;
		border-radius: 5px;
	}
	#category li{
		cursor: pointer;
	}
	#category li:hover{
		background: #41CAEB;
	}
	#category li.active {
		background: #fc9923;
		color: #fff;
	}
	#category li {
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}


    .img-thumbnail{
		width: 50px!important;
	}
	#logo{
		width: 8rem;
	}
	#rightNav{
		background-color: white;
	}
	.card{
		width: 29rem;
	}
